body {
    background-color: black;
    color: white;
    padding: 0 0 0 7px;
    font-family: "Times New Roman";
    font-size: 18px;
}

a {
    color: white;
    border-bottom: 1px solid;
    padding-bottom: 1px;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #da0000;
}

.button {
    border: 1px solid white;
    background-color: #3a3a3a;
    padding: 3px 20px 3px 20px;
    border-radius: 1px;
    text-align: center;
    font-weight: bold;
    width: 150px;
}

.button:hover {
    background-color: #900000;
    cursor: pointer;
    color: white;
}
